annotated-types==0.7.0
dnspython==2.7.0
email_validator==2.2.0
idna==3.10
numpy==2.3.0
pandas==2.3.0
pydantic==2.11.5
pydantic_core==2.33.2
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
fastapi
uvicorn[standard]
pandas
pymongo
python-multipart
jinja2
gunicorn
